<table>
    <caption>Listado de empleados</caption>
    <thead>
        <tr>
            <td>Id</td>
            <td>Nombres</td>
            <td>Apellidos</td>
            <td>Edad</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of empleados" (click)="seleccionarEmpleado(emp)">
            <td>{{ emp.id }}</td>
            <td>{{ emp.nombre }}</td>
            <td>{{ emp.apellido }}</td>
            <td>{{ emp.edad }}</td>
        </tr>
    </tbody>
</table>
<br />
<button (click)="agregar()" [attr.disabled]="isAgregar || empleadoSeleccionado ? true : null">Agregar empleado</button>
<br />
<br />
<div *ngIf="isAgregar || empleadoSeleccionado">
    <empleado-detalle [isAgregar]="isAgregar" [empleado]="empleadoSeleccionado" (save)="cerrarEditor($event)"  (cancelar)="cerrarEditor()" (eliminar)="cerrarEditor($event)"></empleado-detalle>
</div>
