<div *ngIf="empleado">
    <table>
        <caption>Empleado - {{ empleado.nombre }} {{ empleado.apellido}}</caption>
        <tbody>
            <tr>
                <td>Id</td>
                <td><input type="text" [(ngModel)]="empleado.id" placeholder="ID de empleado" [attr.readonly]="isAgregar ? null : true" /></td>
            </tr>
            <tr>
                <td>Nombres</td>
                <td><input type="text" [(ngModel)]="empleado.nombre" placeholder="Nombres" /></td>
            </tr>
            <tr>
                <td>Apellidos</td>
                <td><input type="text" [(ngModel)]="empleado.apellido" placeholder="Apellidos" /></td>
            </tr>
            <tr>
                <td>Edad</td>
                <td><input type="number" [(ngModel)]="empleado.edad" placeholder="Edad en años" /></td>
            </tr>
        </tbody>
    </table>
    <br />
    <button (click)="guardar()">Guardar</button>
    <button (click)="eliminarAccion()" [attr.hidden]="isAgregar ? true : null">Eliminar</button>
    <button (click)="cancelarAccion()">Cancelar</button>
</div>